<form (ngSubmit)="onSubmit()">
    <h2>Registrar un nuevo artículo</h2>
    <div>
        <label for="">Nombre automóvil</label>    
        <input class="data" type="text" name="title" id="" [(ngModel)]="title">  
    </div>
    
    <div>
        <label for="">Precio</label>
        <input class="data" type="text" name="price" id="" [(ngModel)]="price">
    </div>
    
    <div>
        <label for="">Cantidad</label>
        <input class="data" type="text" name="quantity" id="" [(ngModel)]="quantity">
    </div>
    
    <input type="submit" class="btn" value="Registrar">
</form>

